@use "../../styles/definition.scss" as *;

.authLayoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: calc(100vh + 64px);
}

.authLayoutLeft {
  width: 100vw;
  flex: 1;
  background-color: $primary-surface;
  height: 100%;
}

.authLayoutRight {
  width: 496px;
  background-color: white;
  height: 100%;
}
