@use "@/styles/definition.scss" as *;

.header {
  padding: 12px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 2px 0px $border-neutral;
  position: relative;
  z-index: 50;

  a {
    font-size: 2rem;
    font-weight: bold;
  }

  > div {
    display: flex;
    gap: 28px;
    align-items: center;
    position: relative;

    > .user-profile {
      aspect-ratio: 1/1;
      width: 48px;
      height: 48px;
      border: 1px solid $border-neutral;
      border-radius: 100%;
      background-color: white;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      > img {
        object-fit: contain;
      }
    }
  }
}
