@use "../../../styles/definition.scss" as *;

.signUpTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: $font-section-title;
  font-weight: bold;
}

.signUpContainer {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding: 0 32px;
}
