@import "../../styles/definition.scss";

.textArea {
  width: 100%;
  max-width: 1080px;
  height: 240px;
  overflow: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  resize: none;
  border: 2px solid $border-neutral;
  color: $text-disabled;
  outline: none;

  &::placeholder {
    color: $text-disabled;
  }

  &:focus {
    border: 2px solid $primary-hover;
    color: $text-primary;
  }

  &:not(:placeholder-shown) {
    color: $text-primary;
  }
}
