@use "../../../styles/definition.scss" as *;

.loaderContainer {
  width: 100%;
  height: calc(100vh - 256px);
  display: flex;
  justify-content: center;

  > div {
    align-self: center;
  }
}

.pageContainer {
  width: 100%;
  margin: 64px 0;
}

.guideContainer {
  margin-top: 86px;
  margin-bottom: 96px;
}
