@use "../../styles/definition" as *;

.card-section {
  margin-top: 56px;

  .section-title {
    font-size: $font-section-title;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 32px;
    padding-bottom: 8px;
  }
  .card-scroll {
    display: flex;
    gap: 24px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 8px;
  }
  .card-scroll::-webkit-scrollbar {
    display: none;
  }

  .no-plans {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    color: #666;
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
}
