@use "../../styles/definition" as *;

.card-section {
  margin-top: 64px;
  .section-title {
    font-size: $font-section-title;
    font-weight: bold;
    margin-left: 20px;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 32px;
  }
  .card-scroll {
    display: flex;
    gap: 24px;
    padding: 20px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .card-scroll::-webkit-scrollbar {
    display: none;
  }
}
