@use "@/styles/definition.scss" as *;

.input-container {
  color: $text-secondary;

  > label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  // 공통 인풋 스타일
  .input-base {
    border-radius: 12px;
    border: 2px solid $border-neutral;
    display: flex;
    justify-content: space-between;
    position: relative;

    > input::placeholder {
      color: $text-disabled;
    }

    > button {
      flex-shrink: 0;
    }

    > input {
      color: $text-primary;
    }

    &:has(:focus) {
      border: 2px solid $primary-hover;
      box-shadow: 0 0 4px $primary-default;
    }
  }

  .input-field {
    @extend .input-base;
    padding: 15px 16px;
  }

  .check-input {
    @extend .input-base;
    padding: 6px 6px 6px 16px;
  }
}
